@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
    font-family: 'Roboto', sans-serif;

}

.container {
    padding-left: 1rem;
    padding-right: 1rem;
}

.container-center {
    margin: auto;
    max-width: 600px;
}